<a href="https://colab.research.google.com/github/Amitesh-191885/Analysis/blob/main/Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given data

![image.png]()

# Question 
Hotel per day, 
weekly car rental,
Flight two way

1. If you'r planning a 1-week long trip which city should you visit to spend least amount of money?
2.  How does the answer to the previous question change if you change the duration of trip to 4 days, 10days, 2weeks?
3.  If your total budget for the trip is 1000 which city should you visit to maximize the duration of trip? Which city should you visit if minimize the duration?
4. How does the answer to the previous question change if your budget is $600, $2000, or $1500

In [ ]:
city = {"Paris" : [200,20,200],
"London":[ 250, 30, 120],
"Dubai" : [370, 15, 80],
"Mumbai" : [450,10, 70]
}

In [ ]:
def Total_cost(City, day):
  cost =int(0) 
  week=0
  #Calculation of week: 
  if(day%7 != 0): 
    week = day//7+1   
  else:
    week = day//7
  
  cost = City[0] + City[1]*day + City[2]*week
  return (cost)

In [ ]:
Total_cost(city["Paris"],1)

420

1. If you'r planning a 1-week long trip which city should you visit to spend least amount of money?

In [ ]:
citys = ["Paris", "London", "Dubai", "Mumbai"]

In [ ]:
#Cecking working function
Total_cost(city[citys[1]],7)

580

In [ ]:
def Check_cost_day(day):
  Price_List_city = {}
  #day = 7
  for ct in citys:
    cost = Total_cost(city[ct],day)
    Price_List_city.update({ct:cost})
  
  #print(Price_List_city)
  return Price_List_city

Check_cost_day(7)

{'Dubai': 555, 'London': 580, 'Mumbai': 590, 'Paris': 540}

In [ ]:
print(min(Check_cost_day(7), key = Check_cost_day(7).get))

Paris

2. How does the answer to the previous question change if you change the duration of trip to 4 days, 10days, 2weeks?

In [ ]:
# 4day
D = Check_cost_day(4)
print(D)
print(min(D, key = D.get))

{'Paris': 480, 'London': 490, 'Dubai': 510, 'Mumbai': 560}
Paris

In [ ]:
# 10days
D = Check_cost_day(10)
print(D)
print(min(D, key = D.get))

{'Paris': 800, 'London': 790, 'Dubai': 680, 'Mumbai': 690}
Dubai

In [ ]:
%%time
#2 weeks or 14 days
D = Check_cost_day(14)
print(D)
print(min(D, key = D.get))

{'Paris': 880, 'London': 910, 'Dubai': 740, 'Mumbai': 730}
Mumbai
CPU times: user 3.4 ms, sys: 0 ns, total: 3.4 ms
Wall time: 3.24 ms

Part -2

In [ ]:


import math
def cost_of_trip(cities,budget=0,duration=0):
  total_cost = [0]* len(cities) # list that will hold trip cost for each city
  i = 0
  days = [1]* len(cities) # He will at least spend 1 day.
  for city in cities:
    while True: 
      total_cost[i] = (city['return_flight'] + city['hotel_per_day']*days[i] + city['car_rental']*math.ceil(days[i]/7))
      if total_cost[i] > budget:
        days[i] -= 1
        total_cost[i] = (city['return_flight'] + city['hotel_per_day']*(days[i]) + city['car_rental']*math.ceil(days[i]/7))
        break
      else:
        days[i] += 1
    i += 1
  # For longer outing in budget
  max_days = max(days)
  index_max = days.index(max_days)
  print("\nFor budget ${} ".format(budget))
  print("You should visit {} , for {} days, costing ${} (Max Days)".format(cities[index_max]["city_name"],max_days,total_cost[index_max]))
      
  # For shorter outing in budget
  min_days = min(days)
  index_min = days.index(min_days)
  print("You should visit {} , for {} days, costing ${} (Min Days)".format(cities[index_min]["city_name"],min_days,total_cost[index_min]))  
     
places = [
    {
        'city_name' : "Paris",
        'return_flight' : 200,
        'hotel_per_day' : 20,
        'car_rental' : 200
    },
     {
        'city_name' : "London",
        'return_flight' : 250,
        'hotel_per_day' : 30,
        'car_rental' : 120
    },
     {
        'city_name' : "Dubai",
        'return_flight' : 370,
        'hotel_per_day' : 15,
        'car_rental' : 80
    },
      {
        'city_name' : "Mumbai",
        'return_flight' : 450,
        'hotel_per_day' : 10,
        'car_rental' : 70
    },    
]

In [ ]:
# budget = 1000
cost_of_trip(cities=places,budget=1000)

For budget $1000
You should visit Mumbai , for 27 days, costing $1000 (Max Days)
You should visit Paris , for 14 days, costing $880 (Min Days)

4. How does the answer to the previous question change if your budget is  600, 2000, or $1500

In [ ]:
#budge = 600
cost_of_trip(cities=places,budget=600)

For budget $600
You should visit Paris , for 7 days, costing $540 (Max Days)
You should visit Paris , for 7 days, costing $540 (Min Days)

In [ ]:
#budge = 2000
cost_of_trip(cities=places,budget=2000)

For budget $2000
You should visit Mumbai , for 77 days, costing $1990 (Max Days)
You should visit Paris , for 35 days, costing $1900 (Min Days)

In [ ]:
#budge = 1500
cost_of_trip(cities=places,budget=1500)

For budget $1500
You should visit Mumbai , for 49 days, costing $1430 (Max Days)
You should visit Paris , for 25 days, costing $1500 (Min Days)

## Practice Analysis

In [ ]:
import urllib.request as urr

In [ ]:
#urr.urlretrieve(
  #  'https://hub.jovian.ml/wp-content/uploads/2020/08/climate.csv',
   # 'climate.txt'
#)

In [ ]:
import numpy as np

In [ ]:
np.zeros((3,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [ ]:
np.ones(4)

array([1., 1., 1., 1.])

In [ ]:
np.eye(4,4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
data = np.arange(10,90,2)

In [ ]:
data.shape

(40,)

In [ ]:
data

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76,
       78, 80, 82, 84, 86, 88])

In [ ]:
data =data.reshape(40,1)
data.shape

(40, 1)

In [ ]:
data2 = np.arange(1,80,2)

In [ ]:
data2

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67,
       69, 71, 73, 75, 77, 79])

In [ ]:
data2=data2.reshape(40,1)
data2.shape

(40, 1)

In [ ]:
help(np.concatenate)

Help on function concatenate in module numpy:

concatenate(...)
    concatenate((a1, a2, ...), axis=0, out=None, dtype=None, casting="same_kind")

    Join a sequence of arrays along an existing axis.

    Parameters
    ----------
    a1, a2, ... : sequence of array_like
        The arrays must have the same shape, except in the dimension
        corresponding to `axis` (the first, by default).
    axis : int, optional
        The axis along which the arrays will be joined.  If axis is None,
        arrays are flattened before use.  Default is 0.
    out : ndarray, optional
        If provided, the destination to place the result. The shape must be
        correct, matching that of what concatenate would have returned if no
        out argument were specified.
    dtype : str or dtype
        If provided, the destination array will have this dtype. Cannot be
        provided together with `out`.

        .. versionadded:: 1.20.0

    casting : {'no', 'equiv', 'safe', 'same_kind', 'unsafe'}, optional
        Controls what kind of data casting may occur. Defaults to 'same_kind'.

        .. versionadded:: 1.20.0

    Returns
    -------
    res : ndarray
        The concatenated array.

    See Also
    --------
    ma.concatenate : Concatenate function that preserves input masks.
    array_split : Split an array into multiple sub-arrays of equal or
                  near-equal size.
    split : Split array into a list of multiple sub-arrays of equal size.
    hsplit : Split array into multiple sub-arrays horizontally (column wise).
    vsplit : Split array into multiple sub-arrays vertically (row wise).
    dsplit : Split array into multiple sub-arrays along the 3rd axis (depth).
    stack : Stack a sequence of arrays along a new axis.
    block : Assemble arrays from blocks.
    hstack : Stack arrays in sequence horizontally (column wise).
    vstack : Stack arrays in sequence vertically (row wise).
    dstack : Stack arrays in sequence depth wise (along third dimension).
    column_stack : Stack 1-D arrays as columns into a 2-D array.

    Notes
    -----
    When one or more of the arrays to be concatenated is a MaskedArray,
    this function will return a MaskedArray object instead of an ndarray,
    but the input masks are *not* preserved. In cases where a MaskedArray
    is expected as input, use the ma.concatenate function from the masked
    array module instead.

    Examples
    --------
    >>> a = np.array([[1, 2], [3, 4]])
    >>> b = np.array([[5, 6]])
    >>> np.concatenate((a, b), axis=0)
    array([[1, 2],
           [3, 4],
           [5, 6]])
    >>> np.concatenate((a, b.T), axis=1)
    array([[1, 2, 5],
           [3, 4, 6]])
    >>> np.concatenate((a, b), axis=None)
    array([1, 2, 3, 4, 5, 6])

    This function will not preserve masking of MaskedArray inputs.

    >>> a = np.ma.arange(3)
    >>> a[1] = np.ma.masked
    >>> b = np.arange(2, 5)
    >>> a
    masked_array(data=[0, --, 2],
                 mask=[False,  True, False],
           fill_value=999999)
    >>> b
    array([2, 3, 4])
    >>> np.concatenate([a, b])
    masked_array(data=[0, 1, 2, 2, 3, 4],
                 mask=False,
           fill_value=999999)
    >>> np.ma.concatenate([a, b])
    masked_array(data=[0, --, 2, 2, 3, 4],
                 mask=[False,  True, False, False, False, False],
           fill_value=999999)

In [ ]:
data3 = np.concatenate((data,data2),axis=1)
data3.shape

(40, 2)

In [ ]:
data3[1]

array([12,  3])

In [ ]:
data4 = np.concatenate((data,data2),axis=0)

In [ ]:
data4.shape

(80, 1)

In [ ]:
data4[1]

array([12])

# Asshignment 1 - Python Basics Practice

## Problem 1 - Variables and Data Types

**Q1: Assign your name to the variable `name`.**

In [ ]:
name = "Amitesh Ranjan"
name

'Amitesh Ranjan'

**Q2: Assign your age (real or fake) to the variable `age`.**

In [ ]:
age = 19
age

19

**Q3: Assign a boolean value to the variable `has_android_phone`.**

In [ ]:
has_android_phone = True
type(has_android_phone)

bool

You can check the values of these variables by running the next cell.

In [ ]:
name, age, has_android_phone

('Amitesh Ranjan', 19, True)

**Q4: Create a dictionary `person` with keys `"Name"`, `"Age"`, `"HasAndroidPhone"` and values using the variables defined above.**

In [ ]:
person = {
    'Name' : "Amitesh Ranjan",
    'Age' : 19,
    'HasAndroidPhone' : True,
}
type(person)

dict

Let's use the `person` dictionary to print a nice message.

In [ ]:
print("{} is aged {}, and owns an {}.".format(
    person["Name"], 
    person["Age"], 
    "Android phone" if person["HasAndroidPhone"] else "iPhone"
))

Amitesh Ranjan is aged 19, and owns an Android phone.

**Q4b (Optional): Use a `for` loop to display the `type` of each value stored against each key in `person`.**

Here's the expected output for the key `"Name"`: 

```
The key "Name" has the value "Derek" of the type "<class 'str'>"
```

In [ ]:
for key in person:
  print("The key \"{}\" has the value \"{}\" of the type \"{}\"".format(key, person[key] ,type(person[key])))

The key "Name" has the value "Amitesh Ranjan" of the type "<class 'str'>"
The key "Age" has the value "19" of the type "<class 'int'>"
The key "HasAndroidPhone" has the value "True" of the type "<class 'bool'>"

## Problem 2 - Working with Lists

**Q5: Create a list containing the following 3 elements:**

* your favorite color
* the number of pets you have
* a boolean value describing whether you have previous programming experience

In [ ]:
my_list = ['Blue', 'Yellow', 'Red', 1, True]

Let's see what the list looks like:

In [ ]:
my_list

['Blue', 'Yellow', 'Red', 1, True]

**Q6: Complete the following `print` and `if` statements by accessing the appropriate elements from `my_list`.**

*Hint*: Use the list indexing notation `[]`.

In [ ]:
print('My favorite color is', my_list[:3])

My favorite color is ['Blue', 'Yellow', 'Red']

In [ ]:
print('I have {} pet(s).'.format(my_list[3]))

I have 1 pet(s).

In [ ]:
if  my_list[4]:
    print("I have previous programming experience")
else:
    print("I do not have previous programming experience")

I have previous programming experience

**Q7: Add your favorite single digit number to the end of the list using the appropriate list method.**

In [ ]:
my_list.append(35)

Let's see if the number shows up in the list.

In [ ]:
my_list

['Blue', 'Yellow', 'Red', 1, True, 35]

**Q8: Remove the first element of the list, using the appropriate list method.**

In [ ]:
#Both do the same tasks..
#my_list.remove('Blue')
my_list.pop(0)

'Blue'

In [ ]:
my_list

['Yellow', 'Red', 1, True, 35]

**Q9: Complete the `print` statement below to display the number of elements in `my_list`.**

In [ ]:
print("The list has {} elements.".format(len(my_list)))

The list has 6 elements.

## Problem 3 - Conditions and loops

**Q10: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. `21+28+35+...+525+532`**.

*Hint*: One way to do this is to loop over a `range` using `for` and use an `if` statement inside it.

In [ ]:
sum=0
for i in range(21,70,7):
  sum+=i

print(sum)

294

In [ ]:
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum)

The sum of all the numbers divisible by 7 between 18 and 534 is 294

## Problem 4 - Flying to the Bahamas

**Q11: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?**

Fill in values or arithmetic expressions for the variables below.

In [ ]:
cost_of_flying_plane = 5000

In [ ]:
number_of_passengers = 29
price_of_ticket = 200

In [ ]:
profit = (29*200)-5000

In [ ]:
print('The company makes of a profit of {} dollars'.format(profit))

The company makes of a profit of 800 dollars

**Q11b (Optional): Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.**

Use an `if` statement to display the result.

In [ ]:
total_flying_cost = 5000*2
ticket_cost = (200*29) + (200*12)
amount = ticket_cost - total_flying_cost 
amount

-1800

In [ ]:
# this is optional
if amount > 0:
    print("The company makes an overall profit of {} dollars".format(amount))
else:
    print("The company makes an overall loss of {} dollars".format(amount))

The company makes an overall loss of -1800 dollars

## Problem 5 - Twitter Sentiment Analysis

Are your ready to perform some *Data Analysis with Python*? In this problem, we'll analyze some fictional tweets and find out whether the overall sentiment of Twitter users is happy or sad. This is a simplified version of an important real world problem called *sentiment analysis*.

Before we begin, we need a list of tweets to analyze. We're picking a small number of tweets here, but the exact same analysis can also be done for thousands, or even millions of tweets. The collection of data that we perform analysis on is often called a *dataset*.

In [ ]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

Let's begin by answering a very simple but important question about our dataset.

**Q12: How many tweets does the dataset contain?**

In [ ]:
number_of_tweets = len(tweets)

Let's create two lists of words: `happy_words` and `sad_words`. We will use these to check if a tweet is happy or sad.

In [ ]:
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best', 'wow']
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

To identify whether a tweet is happy, we can simply check if contains any of the words from `happy_words`. Here's an example:

In [ ]:
sample_tweet = tweets[0]

In [ ]:
is_tweet_happy = False

# Get a word from happy_words
for word in happy_words:
    # Check if the tweet contains the word
    if word in sample_tweet:
        # Word found! Mark the tweet as happy
        is_tweet_happy = True

In [ ]:
is_tweet_happy

True

**Q13: Determine the number of tweets in the dataset that can be classified as happy.**

*Hint*: You'll need to use a loop inside another loop to do this. Use the code from the example shown above.

In [ ]:
# store the final answer in this variable
number_of_happy_tweets = 0

# perform the calculations here
def is_tweet_happy_function(sample_tweet_text):
  for word in happy_words:
    if word in sample_tweet_text:
      return True
  return False
    

for sample in tweets:
  if is_tweet_happy_function(sample):
    number_of_happy_tweets+=1

In [ ]:
print("Number of happy tweets:", number_of_happy_tweets)

Number of happy tweets: 6

**Q14: What fraction of the total number of tweets are happy?**

For example, if 2 out of 10 tweets are happy, then the answer is `2/10` i.e. `0.2`.

In [ ]:
happy_fraction = number_of_happy_tweets/10

In [ ]:
print("The fraction of happy tweets is:", happy_fraction)

The fraction of happy tweets is: 0.6

To identify whether a tweet is sad, we can simply check if contains any of the words from `sad_words`.

**Q15: Determine the number of tweets in the dataset that can be classified as sad.**

In [ ]:
# store the final answer in this variable
number_of_sad_tweets = 0

# perform the calculations here
def is_tweet_sad_function(sample_tweet_text):
  for word in sad_words:
    if word in sample_tweet_text:
      return True
  return False
    

for sample in tweets:
  if is_tweet_sad_function(sample):
    number_of_sad_tweets+=1

In [ ]:
print("Number of sad tweets:", number_of_sad_tweets)

Number of sad tweets: 2

**Q16: What fraction of the total number of tweets are sad?**

In [ ]:
sad_fraction = number_of_sad_tweets/10

In [ ]:
print("The fraction of sad tweets is:", sad_fraction)

The fraction of sad tweets is: 0.2

Great work, even with some basic analysis, we already know a lot about the sentiment of the tweets given to us. Let us now define a metric called "sentiment score", to summarize the overall sentiment of the tweets.

**Q16b (Optional): Calculate the sentiment score, which is defined as the difference between the fraction of happy tweets and the fraction of sad tweets.**

In [ ]:
sentiment_score = happy_fraction - sad_fraction

In [ ]:
print("The sentiment score for the given tweets is", (sentiment_score))

The sentiment score for the given tweets is 0.39999999999999997

# Numpy Exercise - 100

#### 1. Import the numpy package under the name `np` (★☆☆)

In [1]:
#import numpy
import numpy as np

#### 2. Print the numpy version and the configuration (★☆☆)

In [2]:
print(np.__version__)

1.21.6

#### 3. Create a null vector of size 10 (★☆☆)

In [5]:
# null vector means we have to create 10 zeros array so
vect = np.zeros(10)
print(vect.ndim)
print( vect.size)
print(vect.shape)
print(vect)

1
10
(10,)
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

#### 4. How to find the memory size of any array (★☆☆)

In [7]:
x=vect
print("Size of the array: ",
      x.size)
  
print("Memory size of one array element in bytes: ",
      x.itemsize)
  
# memory size of numpy array in bytes
print("Memory size of numpy array in bytes:",
      x.size * x.itemsize)

Size of the array:  10
Memory size of one array element in bytes:  8
Memory size of numpy array in bytes: 80

#### 5. How to get the documentation of the numpy add function from the command line? (★☆☆)

In [12]:
print(np)
# For ducumentation
#print(np.info(np.add))
np.info(np.add)

<module 'numpy' from '/usr/local/lib/python3.7/dist-packages/numpy/__init__.py'>
add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

Add arguments element-wise.

Parameters
----------
x1, x2 : array_like
    The arrays to be added.
    If ``x1.shape != x2.shape``, they must be broadcastable to a common
    shape (which becomes the shape of the output).
out : ndarray, None, or tuple of ndarray and None, optional
    A location into which the result is stored. If provided, it must have
    a shape that the inputs broadcast to. If not provided or None,
    a freshly-allocated array is returned. A tuple (possible only as a
    keyword argument) must have length equal to the number of outputs.
where : array_like, optional
    This condition is broadcast over the input. At locations where the
    condition is True, the `out` array will be set to the ufunc result.
    Elsewhere, the `out` array will retain its original value.
    Note that if an uninitialized `out` array is created via the default
    ``out=None``, locations within it where the condition is False will
    remain uninitialized.
**kwargs
    For other keyword-only arguments, see the
    :ref:`ufunc docs <ufuncs.kwargs>`.

Returns
-------
add : ndarray or scalar
    The sum of `x1` and `x2`, element-wise.
    This is a scalar if both `x1` and `x2` are scalars.

Notes
-----
Equivalent to `x1` + `x2` in terms of array broadcasting.

Examples
--------
>>> np.add(1.0, 4.0)
5.0
>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> np.add(x1, x2)
array([[  0.,   2.,   4.],
       [  3.,   5.,   7.],
       [  6.,   8.,  10.]])

The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> x1 + x2
array([[ 0.,  2.,  4.],
       [ 3.,  5.,  7.],
       [ 6.,  8., 10.]])

#### 6. Create a null vector of size 10 but the fifth value which is 1 (★☆☆)

In [13]:
print(vect)
vect[5] = 1
print(vect)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]

#### 7. Create a vector with values ranging from 10 to 49 (★☆☆)

In [14]:
arr = np.arange(10,49,dtype=int)
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48])

#### 8. Reverse a vector (first element becomes last) (★☆☆)

#### 9. Create a 3x3 matrix with values ranging from 0 to 8 (★☆☆)

#### 10. Find indices of non-zero elements from [1,2,0,0,4,0] (★☆☆)

#### 11. Create a 3x3 identity matrix (★☆☆)

#### 12. Create a 3x3x3 array with random values (★☆☆)

#### 13. Create a 10x10 array with random values and find the minimum and maximum values (★☆☆)

#### 14. Create a random vector of size 30 and find the mean value (★☆☆)

#### 15. Create a 2d array with 1 on the border and 0 inside (★☆☆)

#### 16. How to add a border (filled with 0's) around an existing array? (★☆☆)

#### 17. What is the result of the following expression? (★☆☆)
```python
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
np.nan in set([np.nan])
0.3 == 3 * 0.1
```

#### 18. Create a 5x5 matrix with values 1,2,3,4 just below the diagonal (★☆☆)

#### 19. Create a 8x8 matrix and fill it with a checkerboard pattern (★☆☆)

#### 20. Consider a (6,7,8) shape array, what is the index (x,y,z) of the 100th element?